/.vs/NUnitTDNetAdapter/v14
/packages/NUnit.3.2.1
/src/NUnitTDNet.Adapter/obj/Debug
/packages/NUnit.Console.3.2.1
/packages/NUnit.ConsoleRunner.3.2.1
/packages/NUnit.Engine.Tool.3.2.1
/packages/NUnit.Extension.NUnitProjectLoader.3.2.1
/packages/NUnit.Extension.NUnitV2Driver.3.2.1
/packages/NUnit.Extension.NUnitV2ResultWriter.3.2.1
/packages/NUnit.Extension.VSProjectLoader.3.2.1
/src/NUnitTDNet.Adapter.Examples/NUnitTDNet.Adapter.Examples/TestResult.xml
/src/NUnitTDNet.Adapter.Examples/NUnitTDNet.Adapter.Examples/bin/Debug
/src/NUnitTDNet.Adapter.Examples/NUnitTDNet.Adapter.Examples/obj/Debug
/src/NUnitTDNet.Adapter.Tests/*.user
/src/NUnitTDNet.Adapter.Tests/bin/Debug
/src/NUnitTDNet.Adapter.Tests/obj/Debug
/src/NUnitTDNet.Adapter/bin/Debug
